/* errors */
.gantt_error {
	font-family:tahoma, arial, verdana;
	font-size:12px;
	color: #c00;
}

/* general styles */
.ganttchart {
	font-family:tahoma, arial, verdana;
	font-size:12px;
}
.ganttchart table.ganttchartmaintable {
	width:100%;
}
.ganttchart table {
	border-collapse:collapse;
}
.ganttchart table th,
.ganttchart table td {
	vertical-align:top;
	padding: 0;
	margin: 0;
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
}
.ganttchart table th {
	font-weight: normal;
	font-size: 11px;
}

/* tasks area (left side) */
.ganttchart .tasksarea table {
	width: 100%
}
.ganttchart .tasksarea th,
.ganttchart .tasksarea td.gtaskdesc {
	text-align:center;
	white-space:nowrap;
}
.ganttchart .tasksarea th {
	background-color: #d8d8f0;
}
/*
.ganttchart .tasksarea th,
.ganttchart .tasksarea td.gtaskdesc {
	background-color: #e8e8f0;
}
.ganttchart .tasksarea th:nth-child(odd),
.ganttchart .tasksarea td.gtaskdesc:nth-child(odd) {
	background-color: #f0f0f8;
}
*/
.ganttchart .tasksarea a {
	cursor:pointer;
	background-image:url("task_link_ico.png");
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:19px;
}
.ganttchart .tasksarea .ggroup_opener {
	cursor:pointer;
}
.ganttchart .tasksarea .ggroup {
	display:inline-block;
	width:14px;
	text-align:center;
	color:#000000;
	font-weight:bold;
}

/* chart area (right side) */
.ganttchart .chartarea {
	position:relative;
	overflow-x:auto;
	overflow-y:hidden;
}

/* chart headers */
.ganttchart .gheadwkend {
	background-color: #cfcfcf;
}

/**
.ghead {
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	font-size: 12px;
	border-left: #efefef 1px solid; width: 24px; height: 20px
}

/* old stuff */
/*
div.scroll { border-right: #efefef 1px solid; padding-right: 0px; border-top: #efefef 1px solid; padding-left: 0px; padding-bottom: 0px; overflow: hidden; border-left: #efefef 1px solid; width: 420px; padding-top: 0px; border-bottom: #efefef 1px solid; background-color: #ffffff }
These are the class/styles used by various objects in GanttChart.  However, Firefox has problems deciphering class style when DIVs are embedded in other DIVs.

GanttChart makes heavy use of embedded DIVS, thus the style are often embedded directly in the objects html.  If this could be resolved with Firefox, it would make alot of the code look simpleer/cleaner without all the embedded styles.

*
.gantt { font-family:tahoma, arial, verdana; font-size:10px;}

.gdatehead { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; height: 18px }

.ghead { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; width: 24px; height: 20px }

.gname { border-top: #efefef 1px solid; font-size: 12px; width: 18px; height: 18px }

.ghead a { font-size: 10px; color: #000000; text-decoration: none }

.gheadwkend a { font-size: 10px; color: #000000; text-decoration: none }

.gheadwkend { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; width: 24px; height: 20px; background-color: #cfcfcf }

.gfiller { border-top: #efefef 1px solid; border-left: #efefef 1px solid; width: 18px; height: 18px }

.gfillerwkend { border-left: #efefef 1px solid; width: 18px; height: 18px; background-color: #cfcfcf }

.gitem { border-top: #cccccc 1px solid; width: 18px; height: 18px }

.gitemwkend { border-top: #cccccc 1px solid; border-left: #cccccc 1px solid; width: 18px; height: 18px }

.gmilestone {	border-top: #efefef 1px solid; font-size: 14px; overflow: hidden; border-left: #efefef 1px solid; width: 18px; height: 18px}

.gmilestonewkend {	border-top: #efefef 1px solid; border-left: #cccccc 1px solid; width: 18px; height: 18px}

.btn { border-right: #ffffff; border-top: #ffffff; font-weight: bold; font-size: 10px; border-left: #ffffff; width: 12px; color: #cccccc; border-bottom: #ffffff; background-color: #ffffff }

.hrcomplete { border-right: #000000 2px solid; padding-right: 0px; border-top: #000000 2px solid; padding-left: 0px; padding-bottom: 0px; border-left: #000000 2px solid; width: 20px; color: #000000; padding-top: 0px; border-bottom: #000000 2px solid; height: 4px }

.hrhalfcomplete { border-right: #000000 2px solid; border-top: #000000 2px solid; border-left: #000000 2px solid; width: 9px; color: #000000; border-bottom: #000000 2px solid; height: 4px }

.gweekend { font-family:tahoma, arial, verdana; font-size:11px; background-color:#EEEEEE; text-align:center; }

.gtask { font-family:tahoma, arial, verdana; font-size:11px; background-color:#00FF00; text-align:center; }

.gday { font-family:tahoma, arial, verdana; font-size:11px; text-align:center; }

.gcomplete { background-color:black; height:5px; overflow: auto; margin-top:4px; }

div.scroll { border-right: #efefef 1px solid; padding-right: 0px; border-top: #efefef 1px solid; padding-left: 0px; padding-bottom: 0px; overflow: hidden; border-left: #efefef 1px solid; width: 420px; padding-top: 0px; border-bottom: #efefef 1px solid; background-color: #ffffff }

div.scroll2 { position:relative; padding-right: 0px; overflow:auto ;overflow-x:scroll;overflow-y:hidden; padding-left: 0px; padding-bottom: 0px; width: 482px; padding-top: 0px; background-color: #ffffff }
/**/